* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
}
body {
	margin:10px;		
}

#header_img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
	margin-left: auto;
    margin-right: auto;
	width:1024px;
	border:1px solid gray;
	padding:10px;
}

#navigation {
	background-color: #EE7F00;
	height:30px;	
	padding:10px;
	border-radius: 4px;

}
.button {
	text-align: center;
	line-height: 15px;
	background-color: #EE7F00;
	font-size: 14px;
	float:left;
	margin-right:20px;
	border: solid 1px #FFAF55;
	border-radius: 5px;
	padding: 5px;
}
.button:hover {
	background-color: #FFAF55;
	border-color: #CA7C23;
}
#navigation a, #navigation a:visited{
	color: #FFF;
	text-decoration: none;
}

h1 {
	font-size:30px;
	margin-top: 20px;
}

table {
	width:100%;	
	border-collapse: collapse;
	border: solid 2px #28BAC1;
}
th {
	text-align:left;
	padding: 4px;
}

th,td{
	border: solid 2px #28BAC1;
}

tr{
	background-color: #CEE7E8;
	padding: 2px;
}

 .highlight{
	background-color: #89C4C6;	
}
td{
	padding-left: 4px;
}
table a, table a:visited{
	color:#163D6C;
	text-decoration: none;
}
table a:hover{
	color: #000000;
}
.delete:hover{
	color: #D40005;
}

input[type=submit],input[type=button]{
	font-size: 16px;
	padding: 2px 8px;
	color: #163D6C;
	border-radius: 8px;
	background-color: #89C4C6;
}

table input{

	margin-bottom: 2px;
	margin-top: 2px;
	background-color: #89C4C6;
}

.sorting_arrow a, .sorting_arrow a:visited{
	font-size: 16px;
}
.sorting_used a, .sorting_used a:visited{
	color: #EE7F00;
}
